.Home{
    height: 80vh;
    .home__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 3%;
        .nav__logo{
            svg{    
                width: 80%;
            }
        }
        .home__link{
            margin-top: 15px;
            font-weight: bold;
            font-size: 18px;
        }
    }
    .home__images{
        .images__small{
            width: 80%;
            margin: 30% 0;
        }
        .images__big{
            width: 95%;
            margin: 5% 0 0 0;
            float: right;
        }
    }
    .home__bottomLinks{
        position: absolute;
        bottom: 5%;
        left: 18%;
        display: flex;
        flex-direction: row;
        .home__link{
            font-weight: bold;
            font-size: 18px;
            margin-right:2px;
            &:hover{
                border: 1px solid black;
                border-radius: 5px;
            }

        }
        .bottom__link{
            padding: 0 10px;
        }
    }
    .home__overlayImage{
        position: absolute;
        top: 0;
        left: 0;
        width: 100vh;
        height: 100vh;
        z-index: 222;
        img{
            width: 100vw;
            height: 100vh;
        }   
    }
}